*
!*/

*.vs/
*.vscode/
*.idea/

# Directories
bin/
temp/

# Git files
!*.gitkeep
!*.gitignore
!*.gitattributes

# Config files
!*.editorconfig

# Text files
!*.txt
!*.md

# Visual Studio
!*.sln
!*.slnx
!*.vcxproj
!*.vcxproj.filters

# Code files
!*.cc
!*.hh
